---
import "../styles/global.css";
import { Image } from "astro:assets";
import cavaLogo from "../assets/cava-logo.png";
import heroMobile from "../assets/hero_mobile.webp";
import heroDesktop from "../assets/hero_desktop.webp";
---

<!-- Hero Section -->
<section
    class="relative min-h-[90vh] flex items-center justify-center overflow-hidden"
>
    <!-- Background Image with Overlay -->
    <div class="absolute inset-0 z-0">
        <div
            class="absolute inset-0 bg-gradient-to-b from-background-dark/30 to-background-dark/60 z-10"
        >
        </div>
        <div class="absolute inset-0 bg-[#725F37]/40 mix-blend-multiply z-10">
        </div>
        <Image
            src={heroMobile}
            alt="Entrada de la cava, rodeada de las vid"
            fetchpriority="high"
            width={750}
            height={1334}
            class="bg-cover bg-center bg-no-repeat transform scale-105 md:hidden"
        />
        <Image
            src={heroDesktop}
            alt="Entrada de la cava, junto a una copa de vino"
            fetchpriority="high"
            width={1920}
            height={1080}
            class="bg-cover bg-center bg-no-repeat transform scale-105 hidden md:block"
        />
    </div>
    <div class="relative z-20 container mx-auto px-4 text-center max-w-4xl">
        <span
            class="text-gold uppercase tracking-[0.2em] text-sm md:text-base font-medium mb-4 block animate-fade-in"
            >Valle de Guadalupe, México</span
        >
        <Image
            src={cavaLogo}
            alt="Cava Zaragoza Logo"
            width={500}
            height={500}
            class="w-96 md:w-128 h-auto mx-auto my-2"
        />
        <p
            class="text-white/90 text-lg md:text-xl font-light mb-10 max-w-2xl mx-auto leading-relaxed"
        >
            Descubre la excelencia y tradición de nuestra cava familiar en el
            corazón del Valle.
        </p>
        <div
            class="flex flex-col sm:flex-row gap-4 justify-center items-center"
        >
            <button
                class="w-full sm:w-auto bg-primary hover:bg-primary-dark text-white px-8 py-4 rounded-lg text-sm font-bold uppercase tracking-widest transition-all transform hover:scale-105 shadow-xl"
            >
                Descubre Nuestra Selección
            </button>
            <button
                class="w-full sm:w-auto bg-transparent border border-white text-white hover:bg-white hover:text-background-dark px-8 py-4 rounded-lg text-sm font-bold uppercase tracking-widest transition-all backdrop-blur-sm"
            >
                Programa tu Visita
            </button>
        </div>
    </div>
    <div
        class="absolute bottom-8 left-1/2 -translate-x-1/2 z-20 animate-bounce text-white/50"
    >
        <span class="material-symbols-outlined text-4xl"
            >keyboard_arrow_down</span
        >
    </div>
</section>
